* { margin:0; padding:0; box-sizing:border-box; }


body{
  background-image: url("images/bg.jpg") no-repeat full-width;
  background: url("images/bg.jpg");
}

.res-img{
  height: 550px;
}
@media only screen and (max-width: 758px) {
  .res-img{
    height: 300px;
  }
}
.na-op{
  opacity: 0.8;
}

.clr{
  background-color: white;
}

.srv h2 ,.srv h4{
    font-size: 37px;
    color:#47c19b;
    padding-bottom: 20px;
    line-height: 51px;
    font-weight: bold;
}


.white-left span ,.ser-wthree-icon span,.white-shadow i{
    font-size: 44px;
    color: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.white-right h4 {
    font-size: 20px;
    color: #fe625b;
    letter-spacing: 1px;
    margin: 17px 0px 0px;
}
.white-shadow {
    border: 1px solid #c1c1c1;
    /* background: #efefef; */
    padding: 21px 15px;
    box-shadow: 0px 0px 10px 0px black;
}

.color{
  background-color: blue;
}

footer{
  padding: 0;
  margin: 0;
  background-color: gray;
}
.nav-item:hover {
  background-color: #ff4c26;
  border: 1px solid #ff4c26;
  box-shadow: 0px 0px 10px 0px black;
}

.services{
  padding: 20px 0;
  background-color: #E8E8E8;
}

.services h1{
  text-align: center;
  font-size: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.imgsrv img{
  padding-top: 40px;
  width: 80%;
  height: 80%;
}

.srvclr{
  color:black;
}
.srvc1{
  background-color: blue;
  color: white;
}
.srvc1 i{
  padding-left: 10px;
}
.srvc2{
  background-color: violet;
  color: white;
}
.srvc2 i{
  padding-left: 10px;
}
.srvc1:hover i.srvclr{
  background-color: black;
  color:red;
}
.srvc1:hover{
  background-color: black;
}
.srvc2:hover i.srvclr{
  background-color: black;
  color:red;
}
.srvc2:hover{
  background-color: black;
}