* { margin:0; padding:0; box-sizing:border-box; }


body{
  background-image: url("images/bg.jpg") no-repeat full-width;
  background: url("images/bg.jpg");
}

.res-img{
  height: 550px;
}
@media only screen and (max-width: 758px) {
  .res-img{
    height: 300px;
  }
}
.na-op{
  opacity: 0.8;
}

.clr{
  background-color: white;
}

.srv h2 ,.srv h4{
    font-size: 37px;
    color:#47c19b;
    padding-bottom: 20px;
    line-height: 51px;
    font-weight: bold;
}


.white-left span ,.ser-wthree-icon span,.white-shadow i{
    font-size: 44px;
    color: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.white-right h4 {
    font-size: 20px;
    color: #fe625b;
    letter-spacing: 1px;
    margin: 17px 0px 0px;
}
.white-shadow {
    border: 1px solid #c1c1c1;
    /* background: #efefef; */
    padding: 21px 15px;
    box-shadow: 0px 0px 10px 0px black;
}

.color{
  background-color: blue;
}

footer{
  padding: 0;
  margin: 0;
  background-color: gray;
}
.nav-item:hover {
  background-color: #ff4c26;
  border: 1px solid #ff4c26;
  box-shadow: 0px 0px 10px 0px black;
}

.services{
  padding: 20px 0;
  padding-bottom: 50px;
  background-color: #E8E8E8;
}

.services h1{
  text-align: center;
  font-size: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.imgsrv img{
  padding-top: 150px;
  width: 100%;
  height: 100%;
}

.srvclr{
  color:black;
}
.srvc1{
  background-color: blue;
  color: white;
}
.srvc1 i{
  padding-left: 10px;
}
.srvc2{
  background-color: violet;
  color: white;
}
.srvc2 i{
  padding-left: 10px;
}
.srvc1:hover i.srvclr{
  color:red;
}
.srvc1:hover{
  background-color: black;
}
.srvc2:hover i.srvclr{
  color:red;
}
.srvc2:hover{
  background-color: black;
}




/*--event--*/
.events{
  background-color: #E8F0F0;
}
.left-side-agile h4 {
    font-size: 21px;
    line-height: 44px;
    color: #fe625b;
}
p.groom-right {
    font-size: 15px;
    color: #000;
    line-height: 30px;
    padding: 9px 0px 0px;
}
.left-side-agile {
    background: #fff;
      border: 1px solid #c1c1c1;
    padding: 21px 15px;
    box-shadow: 0px 0px 10px 0px black;
}
.event-w3ls-date {
  border:none;
    border-right: 2px dotted #000;
}
.event-w3ls-date h5{
    font-weight: 600;
    font-size: 33px;
    color: #000;
}
.event-w3ls-date span {
    font-size: 16px;
    color:#47c19b;
    font-weight: bold;
    padding-top: 4px;
}
.event-w3ls-sub-txt h4 {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color:#47c19b;
}
.event-w3ls-sub-txt ul li,p.date-here {
    display: inline-block;
    font-size: 13px;
    margin-right: 11px;
    color: #000;
}
.event-w3ls-sub-txt ul li span ,.w3l-ser-sub-txt span{
    font-size: 14px;
    color:#fe625b;
    margin-right: 6px;
}
.imgevt{
  height: 323px;
}
/*--// event-- */